<p>
  formulario de alteração cadastral
</p>


<form>
  <div class="formFroup">
    Telefone
    inputTelefone
  </div>
  <div>
    Email
    emailInput
  </div>
  <div>
    Alterar senha?
    >select sim ou nao
  </div>
  <div>
    Senha Atual
  </div>
  <div>
    Nova Senha
  </div>
  <div>
    Confirme Nova Senha
  </div>
  <button> Finalizar </button>
</form>

<p>
  <img src="../../../../assets/images-delete/core-altera-dados.png" />